@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.logo {
  font-family: 'Kalnia', serif;
}

#hover-underline {
  position: relative;
  text-decoration: none;
  /* color: rgb(216, 79, 79); Set your desired text color */
}

#hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: rgb(216, 79, 79); /* Change this to your desired underline color */
  transform: scaleX(0);
  transition:  0.4s ease-in-out;
}

#hover-underline:hover::after {
  transform: scaleX(1);
}

#line-one {
  position: fixed;
  width: 15px;
  height: 100vh;
  background: black;
  left: 23%;
}

#line-two {
  position: fixed;
  width: 25px;
  height: 100vh;
  background: black;
  left: 25%;
}


.circle {
  transform-origin: center;
}
